services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bowers
    ports:
      - "5432:5432"
    volumes:
      - bowers_pgdata:/var/lib/postgresql/data

volumes:
  bowers_pgdata:
